{% extends "layout.html" %}

{% block title %}
    Contribute to Random Recipes
{% endblock %}

{% block main %}

<div id="heading">Contribute to Random Recipes</div>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div> 

<form action="/contribute" method="post">
    <div class="contribute">
        <strong><label for="recipe_name" class="form-label">Name:</label></strong>
        <input autocomplete="off" autofocus class="form-control mx-auto" id="recipe_name" name="recipe_name" placeholder="recipe name" type="text">
    </div>
    <div class="contribute">
        <strong><label for="recipe_descrip" class="form-label">Description:</label></strong>
        <textarea autocomplete="off" autofocus class="form-control mx-auto" id="recipe_descrip" name="recipe_descrip" placeholder="a delicious recipe" type="text"></textarea>
    </div>
    <div class="contribute">
        <strong><label for="recipe_ingre" class="form-label">Ingredients:</label></strong>
        <p>Separate each ingredient by a comma</p>
        <textarea autocomplete="off" autofocus class="form-control mx-auto" id="recipe_ingre" name="recipe_ingre" placeholder="egg, butter" type="text"></textarea>
    </div>
    <div class="contribute">
        <strong><label for="recipe_steps" class="form-label">Steps:</label></strong>
        <p>Separate each step by a comma</p>
        <textarea autocomplete="off" autofocus class="form-control mx-auto" id="recipe_steps" name="recipe_steps" placeholder="preheat the oven to 450F, mix the egg and butter together in a bowl" type="text"></textarea>
    </div>
    <div class="login">
    <button class="btn btn-primary " type="submit">Save</button>
    </div>
</form>
{% endblock %}