{% extends "layout.html" %}

{% block title %}
    Random Recipes
{% endblock %}

{% block main %}

<div id="heading">Random Recipes</div>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div> 

<form action="/" method="post">
  <div class="input-group mb-3" id="search">
    <input type="text" class="form-control" placeholder="recipe" aria-label="recipe" aria-describedby="button-addon2" id="recipe" name="recipe">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </div>
  </div>  
  <div class="mb-3" id="search">Search By: </div>
  <div class="form-check mb-3">
    <div>
      <input class="form-check-input" type="checkbox" value="name" id="flexCheckChecked" name="name" checked>
      <label class="form-check-label" for="flexCheckChecked" id="name" name="name">Name</label>
    </div>
    <div>
      <input class="form-check-input" type="checkbox" value="description" id="flexCheckChecked" name="description" checked>
      <label class="form-check-label" for="flexCheckChecked" id="description" name="description">Description</label>
    </div>
    <div>
      <input class="form-check-input" type="checkbox" value="ingredients" id="flexCheckChecked" name="ingredients" checked>
      <label class="form-check-label" for="flexCheckChecked" id="ingredients" name="ingredients">Ingredients</label>
    </div>
  </div>
</form>


<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary random" type="button">Another random set</button>
</div>

<div class="container">
  <div class="row g-2">
    {% for recipe in recipes %}
    <div class="col-6">
        <div class="p-3 border bg-light">
            <div class="title"><a class="nav-link" href="/recipe/{{recipe.id}}">{{ recipe.name }}</a></div>
            <br>
            <div class="desc"><strong>Description: </strong>{{ recipe.description }}</div>
            <br>
            <div class="ing"><strong>Ingredients:</strong> 
            {% set ingredients = recipe.ingredients.replace("'","").replace("[","").replace("]","").split(",")%}
                <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            refreshPage();
        })
        function refreshPage(){
            document.querySelector(`.random`).addEventListener('click', function (){ 
                window.location.reload();
                })
            }
    </script>
{% endblock %}
